body {
    background: #fff;
    color: #000;
    font-size: 12px;
    line-height: 14px;
    font-family: Verdana,Arial,Sans-serif;
}

h1 {
    font-family: Verdana,Arial,Sans-serif;
    margin-left: 275px;
}

p {
    margin-left: 275px;
    width: 450px;
}

#canvas {
    background-color: #f0f0ee;
    border: thin solid #E9E9E9;
    border-radius: 12px;
}
