body {
    background: #fff;
    color: #000;
    font-size: 12px;
    line-height: 14px;
    font-family: Verdana,Arial,Sans-serif;
    width: 1100px;
}

h1, p {
    text-align: center;
    width: 650px;
    margin: 10px auto;
}

canvas {
    margin: 10px auto;
}
